:root {
  /* Primary Color */
  --pale-blue: #e0e8ff;
  --Bright-blue: #382ae1;
  /* Neutral Colors */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
}

h2,
h4 {
  color: var(--Dark-blue);
}
p {
  color: var(--Desaturated-blue);
}
a {
  text-decoration: none;
}
